/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; }

/* Mobile */
@media only screen and (max-width: 767px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned {
		position: absolute; left: 0; top: 0; background: #fff; width: 25%; overflow: hidden; overflow-x: scroll;
		margin-top: 5%;
	}
	.scrollable:before {
		content: "";
		height: 80%;
		width: 1px;
		/*background: #ccc;*/
		display: block;
		position: absolute;
		right: 215px;
		top: 20px;
	}
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper {
		position: relative; margin-bottom: 20px; overflow: hidden;
	}
	div.table-wrapper div.scrollable { 
		margin: 5% 0 0 35%;
		border: 1px solid #ccc;
		padding: 0 2%;
	}
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 7px;
	}
	::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
	
}
