//--------------------------------//
//--------- MOBILE NAVIGATION ----//
@media only screen and (max-width: 959px){
	.primary-navigation {
		clear: both; width: 100%; overflow: hidden; position: relative; font-family: 'roboto-slab-reg';background: white;
		&.active { display: block; }
		.close-menu {
			display: none;
			text-indent: -9999px; position: absolute; top: rem(3px); right: 0; height: rem(50px); width: rem(50px); cursor: pointer;
		}
		
		* { transition: max-height 0.3s; }
		
		.navigation-list {
			
			max-height: 0; transition: all 0.3s;
			
			&.active {
				max-height: 1000px; transition: max-height margin 0.3s; //margin-top: rem(53px);
				transition: all 0.3s;
			}

			li {
				display: block; width: 100%; position: relative;
				
				ul { max-height: 0; overflow: hidden; background-color: #fff; transition: max-height 0.3s; }
				
				a.has-menu {
					.arrow {
						position: absolute; top: 0; right: 0; height: rem(40px); width: rem(40px); cursor: pointer;
						background: transparent url(../svg/sprite-ui-items.svg) right -190px no-repeat;
					}
					&.active .arrow {
						background-position: right -150px;
					}
				}

				ul.active { max-height: 500px; }
			}
			
			a {
				display: block; color: #898c92; text-decoration: none; line-height: rem(20px); padding: rem(10px 16px); font-weight: 700;
			}
			
			a:visisted {
				color: #f1f1f1;
			}
			a.active,
			a:hover {
				background-color: #f1f1f1;
			}
			
			// Different Levelsa and Their Styles
			> li > a { // Parents
				font-size: rem(19px);
			}
			
			> li > ul > li > a { // Children
				font-size: rem(16px);
			}
			
			> li > ul > li ul > li > a { // Grand-Children
				font-size: rem(14px);
			}
			
		}
		
	}
} // end MQ

//---------------------------------//
//--------- DESKTOP NAVIGATION ----//
@include bp(twelve-column){
	.primary-navigation {
		clear: both; width: 100%; position: relative; font-family: 'roboto-slab-reg';font-size: 22px;color:#898c92;bottom: 15px;
		&:after {
			display: table; clear: both; content: "";
		}
		.navigation-list {
			// Essential Styles
			li { position: relative; transition: all 0.2s; }
			> li { float: left; display: inline; }

			li:hover > ul,
			li.sfHover > ul {
				display: block;
			}

			ul {
				position: absolute;
				display: none;
				top: 100%;
				left: -20px;
				z-index: 9999;
				ul {
					top: 0;
					left: 100%;
				}
			}
		
			a {
				display: block;
				position: relative;
			}
			
			// Skin Styles
			float: right;
			
			> li.sfHover,
			> li:hover {
				color: darken(#898c92, 10%);
			}
			
			> li {
				a {
					text-decoration: none; color: #898c92;
					font-weight: 800; font-size: rem(18px); line-height: rem(41px);padding: rem(0px 15px);
				}
				.sub-menu { // Children Menus
					background-color: #fff; padding: rem(15px 0px); width: 235px;
					a {
						font-size: rem(16px); border: none; transition: background-color 0.3s; padding: rem(10px 18px); line-height: rem(20px);
						&.sf-with-ul {
							background: transparent url(../svg/sprite-ui-items.svg) right -190px no-repeat;
						}
						&:hover {
							background-color: #f1f1f1;
						}
					}
					
					.sub-menu {
						padding: rem(0px); min-width: 120%; border-top-width: 1px;
					}
				}
			}
			
		}
	}
}

@include bp(sixteen-column){
	.primary-navigation {
		.navigation-list {
			> li {
				a {
					padding: rem(0px 25px);
				}
			}
			
		}
	}
}

